<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/onboarding-admin">On Boarding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/space-admin" style="pointer-events: none;">Space</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/perfil-admin">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Noticia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="pointer-events: none;">Producto</a>
      </li>
  </ul>