@import '../../assets/style/boost.css';

.tabs{
    text-align: center;
    background-color: black;
    color:  white;
    height: 30px;
}

.tabs-items{
    cursor: pointer;
}

.isActive{
    background-color: grey;
}