<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  </head>
  <body>
    <div class='selector'>
      <ul>
        <li>
          <input id='c1' type='checkbox'>
          <label for='c1'>HOME</label>
        </li>
        <li>
          <input id='c2' type='checkbox'>
          <label for='c2'>GALLERY</label>
        </li>
        <li>
          <input id='c3' type='checkbox'>
          <label for='c3'>CONTACT</label>
        </li>
        <li>
          <input id='c4' type='checkbox'>
          <label for='c4'>ABOUT US</label>
        </li>
        <li>
          <input id='c5' type='checkbox'>
          <label for='c5'>SERVICE</label>
        </li>
        <li>
          <input id='c6' type='checkbox'>
          <label for='c6'>TEAM</label>
        </li>
        <li>
          <input id='c7' type='checkbox'>
          <label for='c7'>LOCATE</label>
        </li>
        <li>
          <input id='c8' type='checkbox'>
          <label for='c8'>DISPLAY</label>
        </li>
      </ul>
      <button >MENU</button>
    </div>
  </body>
</html>
