
<div class="spinner-border text-primary" role="status" *ngIf="mostrarSpinner">
    <span class="sr-only">Loading...</span>
</div>
<div class="contenedor" *ngIf="!mostrarSpinner">
    <h3>Elegir un slider</h3>
    <div class="input-group" style="margin-bottom: 50px">
        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
            [(ngModel)]="indice" (change)="eleccion()">
            <option value="{{ i }}" *ngFor="let slide of sliders; let i = index">
                slider {{ i + 1 }}
            </option>
        </select>
    </div>

    <div class="row" *ngIf="mostrarSlider">
        <div class="col-5">
            <h1> Actual</h1>

            <div *ngIf="slider.title != ''">
                <h4>Titulo</h4>
                {{slider.title}}
            </div>
            <div *ngIf="slider.subtitle != ''">
                <h4>Subtitulo</h4>
                {{slider.subtitle}}
            </div>
            <div *ngIf="slider.imagenes.length > 0">
                <h4>Imagenes</h4>
                <div class="input-group" style="margin-bottom: 50px">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                        [(ngModel)]="indexIcono">
                        <option value="{{ i }}" *ngFor="let image of slider.imagenes; let i = index">
                            icono {{ i + 1 }}
                        </option>
                    </select>
                </div>
                <img [src]="slider.imagenes[indexIcono]" alt="" class="icon">
            </div>
            <div *ngIf="slider.video != ''">
                <h4>Video</h4>
                <video [src]="slider.video" controls style="width: 200px !important; height: 200px !important"></video>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col">
                    <h1>Modificar</h1>
                </div>
                <div class="col" style=" align-self: center;"> 
                    <button (click)="update()">Update</button>
                </div>
            </div>
            <div *ngIf="slider.title != ''">
                <h4>Titulo</h4>
                <input type="text" placeholder="{{slider.title}}" [(ngModel)]="slider.title">
            </div>

            <div *ngIf="slider.subtitle != ''">
                <h4>Subtitulo</h4>
                <input type="text" placeholder="{{slider.subtitle}}" [(ngModel)]="slider.subtitle">
            </div>

            <div [hidden]="showImgTempo">
                <h4>Imagenes</h4>
                <input type="file" (change)="cargarImagen()" #img id="image">

                <div class="spinner-border text-primary" role="status" *ngIf="!imgTempo && fileImg != ''">
                    <span class="sr-only">Loading...</span>
                </div>

                <img [src]="fileImg" id="charger" style="width: 250px !important; height: 250px !important; background-color: grey; padding: 20px;"
                    *ngIf="imgTempo">
            </div>
            <div [hidden]="showVideoTempo">
                <h4>Video</h4>
                <input type="file" (change)="cargarVideo()" #video id="videos">

                <div class="spinner-border text-primary" role="status" *ngIf="!videoTempo && fileVideo != ''">
                    <span class="sr-only">Loading...</span>
                </div>

                <video [src]="fileVideo" id="charger" controls style="width: 200px !important; height: 200px !important"
                    *ngIf="videoTempo"></video>

            </div>
        </div>
    </div>
</div>