<app-administracion></app-administracion>
<div class="contenedor">
    <div class="row">
        <div class="col-3">
            <h3>Titulo</h3>
            <input type="text" name="" id="titulo" placeholder="Titulo" [(ngModel)]="title">
            <h3>Subtitulo</h3>
            <input type="text" name="" id="sub" placeholder="Subtitulo" [(ngModel)]="subtitle">
            <br><br>
            <h3>Seleccionar el slide</h3>
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                    [(ngModel)]="selection">
                    <option value="{{slider+1}}" *ngFor="let opt of informacion; let slider = index">slide {{slider+1}}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="updateSlider()">Update</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-1">Indice</th>
                        <th class="col-1">Titulo</th>
                        <th class="col-1">Subtitulo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let slide of informacion; let valor = index;">
                        <td>{{valor+1}}</td>
                        <td>{{slide.title}}</td>
                        <td>{{slide.subtitle}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>