<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="titular">
        <h4>Información</h4>
        <h3>Comercial</h3>
    </div>
    <a-scene class="escena" loading-screen="enabled:true ; backgroundColor : #560396 ; dotsColor: #db04bb  " cursor="rayOrigin:mouse"  >
        <a-assets>
            <img id="logo" src="../../assets/Productos/logo_ishop.svg">
        </a-assets>
        <a-entity id="camera-container" rotation="0 -78 0">
            <a-entity id="camera" look-controls camera="fov: 60; userHeight: 0" wasd-controls="enabled: false;"></a-entity>
        </a-entity>

        <a-sky id="fondo" src="../../assets/Productos/newplace.jpg"></a-sky>
        <a-entity  id="pc"  ></a-entity>
        

        <a-plane id="logo2" position="4.2 0.2 -1.7" src="#logo" transparent="true" scale="0.7 0.23 0.5" rotation="0 -57.8 0" (click)="goToUrl()">
        </a-plane>

    </a-scene>
</body>
</html>