<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a-scene class="escena" stats loading-screen="enabled:true ; backgroundColor : #560396 ; dotsColor: #db04bb  " cursor="rayOrigin:mouse"  >
        <a-assets>
            <img id="logo" src="../../assets/logo_ishop.svg">
        </a-assets>

        <a-asset-item id="tree-obj" src="../../assets/Notebook.obj"></a-asset-item>
        <a-asset-item id="tree-mtl" src="../../assets/Notebook.mtl"></a-asset-item>

        <a-entity obj-model="obj: #tree-obj; mtl: #tree-mtl" scale="0.001 0.001 0.001" position="0 1 -1.5"></a-entity>

        <a-sky id="fondo" src="../../assets/newplace.jpg"></a-sky>
        <a-entity  id="pc"  ></a-entity>

        <a-entity id="logo1" position="-1.6 1.6 -2.3" htmlembed (click)="goToUrl()" >
            <img src="../../assets/logo_ishop.svg"  >
        </a-entity>

        

        <a-plane id="logo2" position="-1.6 1.3 -2.3" src="#logo" transparent="true" scale="0.7 0.23 0.5" (click)="goToUrl()">
        </a-plane>

    </a-scene>
</body>
</html>