<app-administracion></app-administracion>
<div class="spinner-border text-primary" role="status" *ngIf="mostrarSpinner">
    <span class="sr-only">Loading...</span>
</div>
<div class="contenedor" *ngIf="!mostrarSpinner">
    <h3>Elegir locutor</h3>
    <div class="input-group" style="margin-bottom: 50px;">
        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" [(ngModel)]="indice">
          <option value="{{i}}" *ngFor="let locutor of selectLocutores; let i = index">{{locutor}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="eleccion()">Elegir</button>
        </div>
    </div>
    <div class="row" *ngIf="mostrarLocutor">
        <div class="col">
            <h1>Actual</h1>

            <h4>Nombre</h4>
            <p>{{locutor.nombre}}</p>
            <h4>Nombre de Menu</h4>
            <p>{{locutor.menuName}}</p>
            <h4>Ocupación</h4>
            <p>{{locutor.ocupacion}}</p>
        </div>
        <div class="col">
            <h1>Modificar</h1>

            <h4>Nombre</h4>
            <input type="text" name="" id="" placeholder="{{nombre}}" [(ngModel)]="nombre">
            <h4>Nombre de Menu</h4>
            <input type="text" name="" id="" placeholder="{{nombreMenu}}" [(ngModel)]="nombreMenu">
            <h4>Ocupación</h4>
            <input type="text" name="" id="" placeholder="{{ocupacion}}" [(ngModel)]="ocupacion">
            <br>
            <button style="margin-top: 30px;" (click)="update()">Update</button>
        </div>
    </div>

</div>