<html>

<head>
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
</head>

<body>

  <a-scene isMobile="0">
   
    <a-entity camera look-controls wasd-controls="enabled:false" id="updateMe">
      <a-entity cursor="fuse: true; fuseTimeout: 500"
                    position="0 0 -1"
                    geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                    material="color: cyan; shader: flat">
          </a-entity>
    </a-entity> <!--esto hace que no se mueva con wasd o flechas-->

        <a-entity geometry="primitive: sphere" sound="src:../assets/bichota.mp3; on: click" position="-8.468 -4.43697 -15.253" radius="1.25" color="#EF2D5E" id="ball" scale="0.89521 0.89521 0.89521"  material="color: blue" > 
          <a-text font="kelsonsans" value="CLICK ME" width="8"></a-text>
        
        </a-entity>
        <a-cylinder position="-8.454 -6.611 -15.2528" radius="0.5" height="1.5" color="#FFC65D" id="cambiameperro" scale="1.59667 1.65879 1.81157" rotation="-3.108296038584716 0 0" geometry="primitive: cone">
          </a-cylinder>
        <a-sky height = "100" width="100" src="https://i.imgur.com/jL7ZMrY.jpeg"></a-sky>
       

  </a-scene>
</body>

</html>

<router-outlet></router-outlet>