<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    <video width="320" height="240" src="../../assets/Pruebas/carreta.mov" controls type="video/mp4"></video>
    <video id="sampleMovie" width="640" height="360" preload controls>
        <source src="../../assets/Pruebas/example.mov" />
        <source src="../../assets/Pruebas/pruebacarreta.mov" />
        <source src="../../assets/Noticias/noticias_caro.webm"/>
        <source src="../../assets/Pruebas/videoplayback.mp4" />
    </video>
    <video width="400" controls >
        <source src="../../assets/Pruebas/videoplayback.mp4" type="video/mp4">
    </video>
    -->
</body>
</html><!--Router-->
<router-outlet></router-outlet>