.parent {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 13% 67% 20%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
}
.titular {
  grid-area: 1 / 1 / 2 / 3;
  position: relative;
  left: 5%;
  margin-top: 15px;
  z-index: 3;
  width: 174px;
  height: 55px;
  user-select: none;
}
