<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  <script
    src="https://unpkg.com/aframe-transparent-video-shader@1.0.1/dist/aframe-transparent-video-shader.umd.js"></script>
  <title>MVP V1</title>
</head>

<body>
  

  <div class="parent" >
    <div class="titular">
       <img id="shop" src="../../assets/Productos/logo_ishop.svg">
    </div>
  </div>
  <app-menu [menus]="menu"></app-menu>
  
  
  
  <a-scene class="escena" loading-screen="enabled:true ; backgroundColor : #20007f ; dotsColor: #db04bb"
    cursor="rayOrigin:mouse"
    animation-timeline__1="timeline: #myTimeline;loop:true"
    >
    <!---------------------------------Elementos externos ------------------------>
    <a-assets timeout="5000">
      <audio id="bichota" src=""></audio>
      
      
      <img id="carreta" src="../../assets/Space/btn_caro_Carreta.png">
      <img id="marca" src="../../assets/Space/btn_marca.png">
      <img id="volumeoff" src="../../assets/Space/volumeup.png">
      <video id="videoId" src="../../assets/Noticias/cabina_caro.webm#" muted loop autoplay #videoid></video>
      <video id="cabina-caro" src="../../assets/Noticias/cabina_caro.webm" muted loop autoplay #videoid></video>

    </a-assets>

    <a-plane id="parlante" position="1 1.13 0.2" src="#volumeoff" transparent="true" scale="0.1 0.1 0.4" rotation="0 -103.63202232090227 0" (click)=caroclick() #parlante></a-plane>
    
    <a-entity id="carovideo2" geometry="height: 1.8; width: 1.5; primitive: plane" rotation="0 -90.35830908110648 0"
    material="shader: transparent-video; src: #cabina-caro; alphaTest: 0.5; side: front"
        position="4.88336 0.98349 -0.29431"
        scale="2.15239 2.15239 2.15239"  
        (click)="locutor('video_caro')"
        ></a-entity>

    <!--
       <a-entity id="carovideo" geometry="height: 1.8; width: 1.5; primitive: plane" rotation="0 165.91826422957405 0"
    material="shader: transparent-video; src: #videoId; alphaTest: 0.5"
        position="0.4061 0 10.97853"
        scale="4.04319 4.04319 4.04319"
        (mouseenter)=caroEnter() (mouseleave)=caroLeave()  
       ></a-entity>
-->
    <!----------------------------------------------------------------------------->
    <!-------------------------------Camara---------------------------------------->
    <!--<a-camera wasd-controls="enabled : false">-->
    
    
    <a-entity id="camera" rotation="0 -98 0" >
        <a-camera wasd-controls="enabled : false"></a-camera>
    </a-entity>
    

    <!-------------------------------------Elementos ------------------------------>
   <a-sky id="fondo" src="../../assets/Space/nueva_cabina.jpg" ></a-sky>
    <a-entity  id="pc" (click)="product('obj_producto')" 
    animation__scale="property: scale; dir: alternate; dur: 400;
    easing: easeInSine; loop: true; to:0.050 0.050 0.050"
    
    ></a-entity>
   
    
    <!-- Titulos de los locutores -->

    <a-timeline id="myTimeline">

      <a-timeline-animation select="#banner_caro" name="a"></a-timeline-animation>
      <a-timeline-animation select="#banner_caro" name="b"></a-timeline-animation>
      <a-timeline-animation select="#banner_caro" name="c"></a-timeline-animation>
      
      
      
    </a-timeline>

    <a-plane id="banner_caro" material="side: double" position="2.93463 2.58451 -0.27046" src="#carreta" transparent="true" scale="2.3 0.7 0.6" rotation="9.698456598179446 -91.57756326914487 -0.265852416940702"
    animation__a = "property: scale; dir: alternate; dur: 200;
    easing: easeInSine;  to:3 0.9 0.8"
    animation__b = "property: scale; dir: alternate; dur: 200;
    easing: easeInSine; from:3 0.9 0.8; to:2.33 0.7 0.6"
     
     animation__c = "property:scale; to : 2.3 0.7 0.6;dur:4000;"
    (click)="locutor('titulo_caro')"></a-plane>
    <a-plane id="banner_ishop" position="0.32695 1.53303 -5.79656" src="#marca"  material="roughness:0.1;transparent:true" scale="2.3 0.7 0.6" rotation="9.698456598179446 -34.698324073122656 -0.265852416940702" 
    animation__scale="property: scale; dir: alternate; dur: 400;
    easing: easeInSine; loop: true; to:2.5 0.9 0.8"    
    (click)="product('titulo_producto')"></a-plane>
  <!--  <a-plane id="ex4" position="-2.41 -78.6 -3.9" src="#img_caro" transparent="true" scale="1.6 2.4 1.4" rotation="0 0 0" *ngIf="mostrar"></a-plane> -->

    <!-- Iluminacion de titulos y objeto -->
    <a-light type="ambient" color="#FFF"></a-light>

    <a-mixin id="icon-animation" geometry="primitive: ring; radiusInner: 0; radiusOuter: 0.8;"
    material="color: #fff; opacity: 0.8"
    animation="property: geometry.radiusOuter; from: 0; to: 0.2; dur: 1000; easing: easeInOutSine; dir:alternate; loop: true;"></a-mixin>
    
    <!--
    <a-entity id="anillo1" position="-5.9 -6 16.6" rotation="0 180 0"> 
      <a-entity mixin="icon-animation"></a-entity>
    </a-entity>

    <a-entity id="anillo2" position="-1.9 0 -3.8" rotation="0 10 0" scale="0.3 0.3 0.3">
      <a-entity mixin="icon-animation"></a-entity>
    </a-entity>
    -->
    <!-- texto -->
    <a-text ></a-text>
  </a-scene>
  
</body>

</html>