<ngb-carousel >
  <ng-template  ngbSlide >
    <div class="picsum-img-wrapper">
      <img class="ima" src='../../assets/mega.jpg' alt="Random first slide">
    </div>
  </ng-template>
  <ng-template  ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="ima" src='../../assets/blanco.jpg' alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>Bienvenida</h1>
      <p>Hola te damos la bienvenida a la mega virtual</p>
    </div>
  </ng-template>
  <ng-template  ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="ima" src='../../assets/blanco.jpg' alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>ICONOx</h1>
      <p>Para navegar usa tu celular en forma horizontal y conoce el contenido tocando sobre los diferentes iconos</p>
    </div>
  </ng-template>
  <ng-template  ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="ima" src='../../assets/blanco.jpg' alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>Sabes donde se sienta cada DJ</h1>
      <p>Vas a poder interactuar con cada uno de los Dj's de la mega y saber las noticias del entretenimiento</p>
    </div>
  </ng-template>
  <ng-template  ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="ima" src='../../assets/blanco.jpg' alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>Comparte con tus amigos</h1>
      <input type="button" value="Go Space" (click)="space()">
    </div>
  </ng-template>
</ngb-carousel>