.contenedor {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 13% 50% 17% 20%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/Onboarding/fondo_desktop.jpg);
  background-position: center;
  background-size: cover;
}
.video {
  grid-area: 2 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video video {
  height: 95%;
}
.informacion {
  grid-area: 3 / 2 / 4 / 3;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}
.titular {
  grid-area: 1 / 2 / 2 / 3;
}
.titular h4 {
  color: white;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  position: relative;
  top: 20%;
  left: 5%;
  user-select: none;
}
.titular h3 {
  color: rgba(255, 67, 29, 1);
  display: block;
  width: 90%;
  font-family: "chivo";
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  position: relative;
  top: 16%;
  left: 5%;
  user-select: none;
}
.informacion h4 {
  background-color: transparent;
  color: rgba(255, 67, 29, 1);
  font-family: Chivo;
  font-style: italic;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  position: absolute;
  width: 80%;
  top: 30%;
  left: 40%;
  user-select: none;
}
.informacion h3 {
  color: white;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  width: 80%;
  top: 30%;
  left: 40%;
  user-select: none;
}
.circle {
  background-color: rgba(255, 67, 29, 1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40%;
  left: 35%;
}
.circle img {
  height: 20px;
  width: 20px;
}
.sonido {
  color:white;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sonido p {
  position: absolute;
  font-size: 12px;
  width: 50px;
  text-align: center;
  user-select: none;
  top: 9%;
}
@media (max-width: 1366px) {
  .informacion {
    width: 130%;
    left: -15%;
  }
  .sonido {
    font-size: 25px;
  }
  .sonido p {
    font-size: 9px;
  }
  .informacion h4 {
    font-size: 16px;
    left: 15%;
  }
  .informacion h3 {
    left: 15%;
  }
  .circle {
    top: 30%;
    left: 5%;
  }
}
@media (max-width: 480px) {
  .informacion {
    width: 120%;
    left: -10%;
  }
  .sonido {
    font-size: 25px;
  }
  .sonido p {
    font-size: 9px;
  }
  .informacion h4 {
    font-size: 16px;
    left: 20%;
  }
  .informacion h3 {
    left: 20%;
  }
  .circle {
    left: 5%;
  }
  .titular h4 {
    font-size: 16px;
  }
  .titular h3 {
    font-size: 28px;
  }
  .loading:before {
    background-size: 90%;
  }
}
@media (max-width: 380px) {
  .informacion h4 {
    font-size: 14px;
    top: 18%;
    left: 15%;
    width: 90%;
  }
  .informacion h3 {
    font-size: 12px;
    top: 18%;
    left: 15%;
  }
  .circle {
    left: 0%;
  }
  .titular h3 {
    font-size: 22px;
  }
  .loading:before {
    background-size: 90%;
  }
  
}
