<div class="spinner-border text-primary" role="status" *ngIf="mostrarSpinner">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="loading" *ngIf="mostrarSpinner"></div>
<div class="contenedor" *ngIf="!mostrarSpinner">
    <div class="titular">
        <h4>Nota</h4>
        <h3>{{noticia.nombre}}</h3>
    </div>
    <div class="video">
        <video [src]="noticia.video" [muted]="mute" autoplay="autoplay" #videopls loop
            playsinline></video>
    </div>
    <div class="informacion" *ngIf="true">
        <div class="circle">
            <img [src]="noticia.icono">
        </div>
        <h4>{{noticia.encabezado}}</h4>
        <h3>{{noticia.descripcion}}</h3>
    </div>
    <div class="sonido">
        <i id="sound" class="fa fa-volume-off" (click)="mute()" *ngIf="sonido" #videoi></i>
        <i id="muted" class="fa fa-volume-up" (click)="mute()" *ngIf="!sonido" #videoi></i>
        <p *ngIf="sonido">activar sonido</p>
    </div>
</div>
<app-menu [menus]="menus" (nuevoLocutor)="changeNoticia($event)"></app-menu>