.contenedor {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 13% 50% 17% 20%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/Onboarding/fondo_desktop.jpg);
  background-position: center;
  background-size: cover;
}
.video {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video video {
  height: 90%;
}
.informacion {
  grid-area: 3 / 2 / 4 / 3;
}
.titular {
  grid-area: 1 / 2 / 2 / 3;
}
.titular h4 {
  color: white;
  width: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  position: relative;
  top: 20%;
  left: 5%;
  user-select: none;
}
.titular h3 {
  color: rgba(255, 67, 29, 1);
  display: block;
  width: 90%;
  font-family: "chivo";
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  position: relative;
  top: 16%;
  left: 5%;
  user-select: none;
}
.informacion h4 {
  color: rgba(255, 67, 29, 1);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 24px;
  position: relative;
  width: 80%;
  top: 16%;
  left: 15%;
  user-select: none;
}
.informacion h3 {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 18px;
  position: relative;
  width: 80%;
  top: 16%;
  left: 15%;
  user-select: none;
}
.circle {
  background-color: rgba(255, 67, 29, 1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40%;
  left: 5%;
}
.circle img {
  height: 20px;
  width: 20px;
}
.sonido {
  color: white;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sonido p {
  position: absolute;
  font-size: 12px;
  width: 50px;
  text-align: center;
  user-select: none;
  top: 9%;
}
@media (max-width: 480px) {
  .titular h4 {
    font-size: 18px;
  }
  .titular h3 {
    font-size: 26px;
  }
  .informacion h4 {
    font-size: 17px;
  }
  .informacion h3 {
    font-size: 13px;
  }
  .sonido {
    font-size: 25px;
  }
  .sonido p {
    font-size: 9px;
  }
}
@media (max-width: 550px) {
  .informacion h4 {
    top: 3%;
    left: 25%;
  }
  .informacion h3 {
    top: 3%;
    left: 25%;
  }
}
