.inicio .logo {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/Onboarding/mega.jpg);
  background-position: center;
  background-size: cover;
  border: none;
  z-index: 99;
  position: absolute;

}
.swiper {
  width: 100%;
  height: 100vh;
  z-index: 1;
  text-align: center;
}
.container-slide {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  background-image: url(../../assets/Onboarding/fondo_desktop.jpg);
  background-position: center;
  background-size: cover;
}
.slider {
  background-color: rgba(102, 51, 153, 0.5);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 13% 40% 18% 12% 17%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
}
.video {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgba(0, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video video{
  height: 90%;
}
h3 {
  background-color:rgba(210, 180, 140, 0.5);
  font-family: Chivo;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  font-weight: 1000;
  color: white;
  user-select: none;
}
p {
  background-color: rgba(0, 128, 128, 0.5);
  font-family: Roboto Slab;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: rgba(248, 88, 88, 1);
  user-select: none;
}
.info{
  grid-area: 3 / 2 / 4 / 3;
  background-color: rgba(65, 105, 225, 0.5);
  height: 50%;
  width: 100%;
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-title{
  grid-area: 3 / 2 / 4 / 3;
  background-color: rgba(65, 105, 225, 0.5);
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  grid-area: 3 / 2 / 4 / 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subtitle {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.imagenes {
  grid-area: 3 / 2 / 4 / 3;
  height: 50%;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.ititle {
  height: 80%;
  background-color: rgba(255, 222, 173, 0.5);
  margin-left: 20px;
  margin-right: 20px;
}
.indicadores {
  grid-area: 4 / 2 / 5 / 3;
  background-color: rgba(238, 130, 238, 0.5);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}
.indicadores ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.indicadores ul button {
  width: 22px;
  height: 22px;
  border: 1px solid rgba(248, 88, 88, 1);
  border-radius: 50px;
  margin: 5px;
  background-color: rgba(32, 0, 127, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indicadores ul button .active {
  width: 14px;
  height: 14px;
  background-color: rgba(248, 88, 88, 1);
  border-radius: 40px;
}
.saltar {
  background-color: rgba(210, 180, 140, 0.5);
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: -10px;
  color: rgba(248, 88, 88, 1);
}
button {
  background-color: white;
}
.home {
  grid-area: 3 / 2 / 4 / 3;
  height: 25%;
  width: 100%;
  position:relative;
  top: 75%;
  background-color: rgba(210, 180, 140, 0.5);
  display: block;
  align-items: center;
  justify-content: center;
}
.home-img{
  background-color: rgba(250, 128, 114, 0.5);
  height: 100%;
  cursor: pointer;
}
.title-start{
  display: block;
  color: white;
}
.exit {
  grid-area: 1 / 3 / 2 / 4;
  background-color: salmon;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
  cursor: pointer;
}
.boton {
  grid-area: 4 / 2 / 5 / 3;
  height: 50%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 60%;
}
.siguiente {
  grid-area: 4 / 2 / 5 / 3;
  width: 150px;
  height: 40px;
  z-index: 99;
  color: white;
  background-color: rgba(32, 0, 127, 1);
  border-color: rgba(248, 88, 88, 1);
  border-radius: 5px;
  font-size: large;
}
@media (max-width: 1680px) {
  .subtitle {
    width: 60%;
  }
}
@media (max-width: 1366px) {
  .subtitle {
    width: 80%;
  }
  h3 {
    font-size: 30px;
  }
  p{
    font-size: 16px;
  }
  .sonido i{
    font-size: 30px;
  }
  .sonido p {
    font-size: 9px;
  }
  .indicadores ul button {
    width: 18px;
    height: 18px;
  }
  .indicadores ul button .active {
    width: 10px;
    height: 10px;
  }
  .saltar {
    margin-top: -15px;
  }
  .siguiente {
    width: 120px;
    height: 35px;
    font-size: 16px;
  }
  .boton{
    top:80%;
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 26px;
  }
  p {
    font-size: 14px;
  }
  .imagenes {
    height: 25%;
    width: 100%;
  }
  .info{
    height: 60%;
    width: 100%;
    top: 50%;
  }
  .subtitle {
    width: 130%;
  }
  .title {
    width: 120%;
  }
  .indicadores{
    position: relative;
    top: 10%;
  }
  .boton{
    top:85%;
  }
  .saltar {
    margin-top: -8px;
  }
}
.sonido {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 128, 114, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
  cursor: pointer;
  color:white;
  font-size: 40px;
}
.sonido p {
  position: absolute;
  color:white;
  font-size: 12px;
  width: 50px;
  text-align: center;
  user-select: none;
  top: 9%;
}

/*
1680x1050
1024x768
480x320
*/
