<div class="inicio">
    <input type="button" value="" class="logo" (click)="principal()" *ngIf="open">
</div>

<div class="contenedor">

    <div class="contenido">
        <div class="texto">
            <h3 class="title">{{title}}</h3>
            <img class="ititle" src="../../assets/Onboarding/celular512.png" alt="Icono de un celular" *ngIf="btitle">
            <p>{{sub}}</p>
        </div>
    </div>

    <div class="indicadores">
        <ul>
            <button (click)="saltar(0)"><li class="active" *ngIf="indicador[0]"></li></button>
            <button (click)="saltar(1)"><li class="active" *ngIf="indicador[1]"></li></button>
            <button (click)="saltar(2)"><li class="active" *ngIf="indicador[2]"></li></button>
            <button (click)="saltar(3)"><li class="active" *ngIf="indicador[3]"></li></button>
            <button (click)="saltar(4)"><li class="active" *ngIf="indicador[4]"></li></button>
        </ul>
        <input type="button" value="Saltar>" class="saltar" (click)="saltar(4)" *ngIf="!bsub">
        <div class="home" *ngIf="bsub">
            <button (click)=space()><img src="../../assets/Onboarding/home128.png" alt="Icono de una casa" ></button>
            <p>Inicio</p>
        </div>
    </div>

    <div class="derecho" *ngIf="bnext">
        <input type="button" value="" class="next" (click)="next()">
    </div>

    <div class="izquierdo" *ngIf="bback">
        <input type="button" value="" class="back" (click)="back()">
    </div>

    <div class="cerrar">
        <input type="button" value="" class="exit" (click)="exit()">
    </div>
</div>