.inicio .logo {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/Onboarding/mega.jpg);
  background-position: center;
  background-size: cover;
  border: none;
  position: fixed;
  z-index: 99;
}
.swiper {
  width: 100%;
  height: 100vh;
  z-index: 1;
  text-align: center;
  background-color: rgba(32, 0, 127, 1);
}
.container-slide {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  background-image: url(../../assets/Onboarding/fondo_desktop.jpg);
  background-position: center;
  background-size: cover;
}

.slider {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
}

video{
  width: 288px;
  height: 356px;
}

h3 {
  font-family: Chivo;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  font-weight: 1000;
  color: white;
  user-select: none;
}

p {
  font-family: Roboto Slab;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: rgba(248, 88, 88, 1);
}

.imagenes {
  display: flex;
  align-items: center;
}
.ititle {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
.indicadores {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indicadores ul {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  right: 10px;
}
.indicadores ul button {
  width: 22px;
  height: 22px;
  border: 1px solid rgba(248, 88, 88, 1);
  border-radius: 50px;
  margin: 5px;
  background-color: rgba(32, 0, 127, 1);
}
.indicadores ul button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.indicadores ul button .active {
  width: 14px;
  height: 14px;
  background-color: rgba(248, 88, 88, 1);
  border-radius: 40px;
}

.saltar {
  text-align: center;
  border: none;
  cursor: pointer;
  color: rgba(248, 88, 88, 1);
}
button {
  background-color: white;
}
.home {
  width: 100%;
  text-align: center;
}

.home-img{
  width: 250px;
  height: 60px;
  cursor: pointer;
}

.exit {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border: none;
  cursor: pointer;
}

.siguiente {
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: 5%;
  z-index: 10;
  color: white;
  background-color: rgba(32, 0, 127, 1);
  border-color: rgba(248, 88, 88, 1);
  border-radius: 5px;
  font-size: large;
}

@media (max-width: 480px) {
  .ititle {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home-img {
    width: 150px;
    height: 40px;
  }
}
