.contenedor {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 13% 50% 17% 20%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/Onboarding/fondo_desktop.jpg);
  background-position: center;
  background-size: cover;
}
.video {
  grid-area: 2 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video video {
  height: 95%;
}
.video img {
  height: 95%;
}
.titular {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}
.titular h4 {
  color:white;
  width: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-size: 31px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  position: absolute;
  left: 5%;
  user-select: none;
  display: block;
  background-color: transparent;
}
.titular h5 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  background-color: transparent;
  position: absolute;
  display: block;
  left: 5%;
  top: 70%;
  user-select: none;

}
.titular p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  position: absolute;
  display: block;
  left: 5%;
  top: 100%;
  user-select: none;
}
.menu {
  color:white;
  height: 100%;
  width: 100%;
  grid-area: 2 / 2 / 4 / 3;
  position: absolute;
  background-color: transparent;
}
.menu div {
  background-color: rgba(255, 67, 29, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  background-color: transparent;
  color:white;
  width: 90px;
  height: 40px;
  z-index: 3;
  font-size: 15px;
  position: absolute;
  top: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
  font-family: "chivo";
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.menu div img{
  height: 30px;
  width: 30px;
}
.item1 {
  left: 48.5%;
  top: 80%;
}
.item2 {
  left: 58.5%;
  top: 78%;
}
.item3 {
  left: 38.5%;
  top: 78%;
}
.item4 {
  left: 68.5%;
  top: 70%;
}
.item5 {
  left: 28.5%;
  top: 70%;
}
/*
.item1 {
  left: -75px;
}
.item2 {
  left: 20px;
}
.item4 {
  left: 30px;
}
.item5 {
  left: 100px;
}
*/


.sonido {
  color:white;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sonido p {
  position: absolute;
  font-size: 12px;
  width: 50px;
  text-align: center;
  user-select: none;
  top: 9%;
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 998;
  height: 8em;
  width: 2em;
  overflow: show;
  margin: auto;
  padding-top: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #20007f;
  background-repeat: no-repeat;
  background-image: url(../../assets/Shared/logo.svg);
  background-attachment: fixed;
  background-position: center;   
  
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: 0em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(219,4,187, 0.75) 1.5em 0 0 0, rgba(219,4,187, 0.75) 1.1em 1.1em 0 0, rgba(219,4,187, 0.75) 0 1.5em 0 0, rgba(219,4,187, 0.75) -1.1em 1.1em 0 0, rgba(219,4,187, 0.75) -1.5em 0 0 0, rgba(219,4,187, 0.75) -1.1em -1.1em 0 0, rgba(219,4,187, 0.75) 0 -1.5em 0 0, rgba(219,4,187, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(219,4,187, 0.75) 1.5em 0 0 0, rgba(219,4,187, 0.75) 1.1em 1.1em 0 0, rgba(219,4,187, 0.75) 0 1.5em 0 0, rgba(219,4,187, 0.75) -1.1em 1.1em 0 0, rgba(219,4,187, 0.75) -1.5em 0 0 0, rgba(219,4,187, 0.75) -1.1em -1.1em 0 0, rgba(219,4,187, 0.75) 0 -1.5em 0 0, rgba(219,4,187, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*
Para hacer zoom de los videos
.video > video {
  min-width: 200%;
  min-height: 200%;
  object-fit: cover;
  background-color: aqua;
  position: absolute;
  bottom: 400px;
  left: -500px;
}
*/
/*
#myVideo {
   width: 100%;
   height: 600px;
   object-fit: cover;
   background-color: aqua;
}*/
@media (max-width: 480px) {
  .titular h4 {
    font-size: 21px;
  }
  .titular p {
    top: 110%;
  }
  .sonido {
    font-size: 25px;
  }
  .sonido p {
    font-size: 9px;
  }
  .name {
    font-size: 15px;
  }
  .loading:before {
    background-size: 90%;
  }
}
