<!DOCTYPE html>
<html>

<head>
    <title>HTML CSS JS</title>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        rel="stylesheet">
</head>

<body>
    <div class="profile">
        <div class="videoContainer">


            <video id="videopls" autoplay loop controlsList="nodownload" disablePictureInPicture #videopls>
                <source src="../../assets/webm.webm">

            </video>
            <i class="fa fa-volume-up"  (click)="mute()" #videoi>
                
            </i>

            <div>
                <h5>
                    Carolina Carreta
                </h5>
            </div>



        </div>

    </div>

    <div class="cerrar" id="cerrar" #cerrar>
        <a>
            <i class="fa fa-times-circle"></i>
        </a>
    </div>

    <div class="maincontent">

        <div class="item1">
            <h6 class="name"> Tecnología</h6>
            <i class="fa fa-globe"></i>
        </div>
        <div class="item2">
            <h6 class="name"> Cine</h6>
            <i class="fa fa-video"></i>
        </div>
        <div class="item3">
            <h6 class="name"> VideoJuegos</h6>
            <i class="fa fa-cube"></i>
        </div>
        <div class="item4">
            <h6 class="name"> Television</h6>
            <i class="fa fa-tv"></i>
        </div>
        <div class="item5">
            <h6 class="name"> Farándula?</h6>
            <i class="fa fa-question-circle"></i>
        </div>

    </div>



</body>

</html>