<div class="contenedor">
    <div class="titular">
        <h4>Menu</h4>
    </div>
    <div class="video">
        <!--
            <video src="../../assets/Noticias/perfil_caro.webm" [muted]="mute" autoplay="autoplay"  #videopls loop playsinline></video>
            style="background-color: aqua;"
            -->

        <video [muted]="mute" autoplay="autoplay" #videopls loop playsinline id="myVideo">
            <source src="../../assets/Pruebas/prueba_5.mov" type='video/mp4; codecs="hvc1"'>
            <source src="../../assets/Noticias/perfil_caro.webm" type="video/webm">

            <source src="../../assets/Pruebas/salida2.mov" type='video/mp4; codecs="hvc1"'>
            <source src="../../assets/Noticias/perfil_caro.webm" type="video/webm">

            <source src="../../assets/Pruebas/caro.mp4" />
            <source src="../../assets/Pruebas/presentacion.mov" />
            <source src="../../assets/Pruebas/example.mov" />
            <source src="../../assets/Noticias/perfil_caro.webm">
        </video>

    </div>
    <div class="menu">
        <!--
        <div class="item1">
            <h6 class="name"> Tecnología</h6>
            <i class="fa fa-globe"></i>
        </div>
        <div class="item2">
            <h6 class="name"> Cine</h6>
            <i class="fa fa-video"></i>
        </div>
        -->
        <div class="item3" (click)="noticias()">
            <img src="../../assets/Shared/icon_article.svg">
            <h1 class="name">Tema de la semana</h1>
        </div>
        <!--
        <div class="item4">
            <h6 class="name"> Television</h6>
            <i class="fa fa-tv"></i>
        </div>
        <div class="item5">
            <h6 class="name"> Farándula</h6>
            <i class="fa fa-question-circle"></i>
        </div>
        -->
    </div>
    <div class="sonido">
        <i id="sound" class="fa fa-volume-off" (click)="mute()" *ngIf="aviso" #videoi></i>
        <i id="muted" class="fa fa-volume-up" (click)="mute()" *ngIf="!aviso" #videoi></i>
        <p *ngIf="aviso" (click)="mute()">activar sonido</p>
    </div>
</div>
<app-menu></app-menu>