.contenedor {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 13% 50% 17% 20%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/Onboarding/fondo_desktop.jpg);
  background-position: center;
  background-size: cover;
}
.video {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video video {
  height: 90%;
}
.video img {
  height: 90%;
}
.titular {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
}
.titular h4 {
  color:white;
  width: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-size: 31px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  position: relative;
  left: 5%;
  user-select: none;
}
.menu {
  color:white;
  height: 100%;
  width: 100%;
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.menu div {
  background-color: rgba(255, 67, 29, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  color:white;
  width: 200px;
  height: 40px;
  z-index: 3;
  font-size: 15px;
  position: absolute;
  top: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
  font-family: "chivo";
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 14px;
  line-height: 1;
}
.menu div img{
  height: 30px;
  width: 30px;
}
.item1 {
  left: -300px;
  top: -50px;
}
.item2 {
  left: -150px;
  top: -15px;
}
.item4 {
  left: 150px;
  top: -15px;
}
.item5 {
  left: 300px;
  top: -50px;
}

/*
.item1 {
  left: -75px;
}
.item2 {
  left: 20px;
}
.item4 {
  left: 30px;
}
.item5 {
  left: 100px;
}
*/


.sonido {
  color:white;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sonido p {
  position: absolute;
  font-size: 12px;
  width: 50px;
  text-align: center;
  user-select: none;
  top: 9%;
}
/*
Para hacer zoom de los videos
.video > video {
  min-width: 200%;
  min-height: 200%;
  object-fit: cover;
  background-color: aqua;
  position: absolute;
  bottom: 400px;
  left: -500px;
}
*/
/*
#myVideo {
   width: 100%;
   height: 600px;
   object-fit: cover;
   background-color: aqua;
}*/
@media (max-width: 480px) {
  .titular h4 {
    font-size: 21px;
  }
  .sonido {
    font-size: 25px;
  }
  .sonido p {
    font-size: 9px;
  }
  .name {
    font-size: 15px;
  }
}
