.contenedor{
   display: grid;
   grid-template-columns: 15% 70% 15%;
   grid-template-rows: 13% 52% 1% 34%;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   height: 100vh;
}

.contenido { 
   grid-area: 1 / 2 / 3 / 3;
   text-align: center;
}

.video video{
   width: 100%;
   height: 60vh;
}

.menu{
   grid-area:  3 / 2 / 4 / 3;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   
}

.menu div{
   width:50px;
   height:50px;
   border-radius: 50%;
   font-size: 30px;
   transition: 0.5s linear;
   border: 2px solid black;
   
}

.menu i{
   position: relative;
   top: 12px;
}

.name{
   font-size: 15px;
   width:180px;
   color: black;
   position: relative;
   display : block;
   top: 30px;
}

.item1{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transform: translateY(-80px);
   
}

.item2{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transform: translateY(-20px);
}

.item3{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.item4{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transform: translateY(-20px);
}

.item5{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   transform: translateY(-80px);
}

i{
   color:black;
}

.sonido {
   grid-area:  1 / 1 / 2 / 2;
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sonido p {
   font-size: 9px;
   width: 50px;
   text-align: center;
}

.espacio { 
   grid-area: 3 / 2 / 4 / 3;
}

@media (max-width: 480px) {
   .sonido {
      font-size: 25px;
  }
}
